<!doctype html>
<html lang="en">
<head>
    <title>DARC Image Review</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body id="index" class="text-center my-3 mx-5">
    <img src="/static/img/logo_darc.png" class="mt-4" width="30%" style="max-width: 300px; min-width: 200px; pointer-events: none;"/>
    <h1 class="my-3 mt-4">404</h1>

    {% if err == 'dive' %}
    <h5>Dive not found<br></h5>
    <div>Check the sequence number and try again.<br></div>
    {% elif err == 'pics' %}
    <h5>No photos found for the dive with the given sequence number.<br></h5>
    <div id="details"></div>
    {% elif err == 'comments' %}
    <h5>No comments saved in external review database.</h5>
    {% else %}
    <h5>Page not found</h5>
    {% endif %}
    <br>
    <a href="/" class="aquaLink">Return to home</a>
    <script src="/static/js/bootstrap.bundle.js"></script>
    <script>
        const queryString = window.location.search;
        if (queryString.includes('phylum') || queryString.includes('class') || queryString.includes('order') ||
            queryString.includes('family') || queryString.includes('genus') || queryString.includes('species')) {
            document.getElementById('details').innerHTML = '<span className="my-3">Is the phylogeny filter in the URL spelled correctly?</span>';
        } else if (queryString.includes('comment')) {
            document.getElementById('details').innerHTML = '<span className="my-3">Is the comment filter in the URL spelled correctly?</span>';
        }
    </script>
</body>
</html>
