{% extends "base.html" %}
{% block content %}
    <div class="text-center my-3 mx-5">
        {% include 'components/flash-container.html' %}
        <img src="/static/img/logo_darc.png" class="mt-4" width="30%" style="max-width: 300px; min-width: 200px; pointer-events: none;"/>
        <h1 class="mt-4">Application Error<br></h1>
        <div>{{ err }}<br></div>
        <br>
        <a href="/" class="aquaLink">Return to home</a>
    </div>
    <script src="/static/modules/jquery/jquery.min.js"></script>
    <script src="/static/modules/bootstrap/bootstrap.bundle.js"></script>
    <script>setTimeout(() => { $('#flash-messages-container').fadeOut(200) }, 5000);</script>
{% endblock content %}
