<!doctype html>
<html lang="en">
<head>
    <title>DARC Image Review | External Reviewers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
    <div class="my-3 mx-5">
        {% for cat, msg in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ cat }} alert-dismissible px-5" style="position:fixed; left: 50%; transform: translate(-50%, 0); z-index: 9999;">
            <span class="px-2" style="font-weight: 500;">{{ msg }}</span>
            <button type="button" class="btn-close small" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        <div class="row mt-3 px-3">
            <div class="col-2"></div>
            <div class="col text-center">
                <h3>
                    External Reviewers
                </h3>
            </div>
            <div class="col-2 text-end mt-2">
                <button type="button" class="plusButton" data-bs-toggle="modal" data-reviewer="" data-bs-target="#editReviewerModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-plus mb-1" viewBox="0 0 16 16">
                      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                    <span style="font-weight: 600;">Add New</span>
                </button>
            </div>
        </div>

        <div class="col d-flex justify-content-center mt-2">
            <table id="reviewerTable" class="table table-striped" style="max-width: 2500px !important;">
                <thead class="thead-dark sticky-top" style="background-color: #393E46; color: #EEEEEE;">
                    <tr>
                        <th style="font-weight: 500;" scope="col">Name</th>
                        <th style="font-weight: 500;" scope="col">Phylum</th>
                        <th style="font-weight: 500;" scope="col">Focus Area</th>
                        <th style="font-weight: 500;" scope="col">Organization</th>
                        <th style="font-weight: 500;" scope="col">Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="modal fade" id="editReviewerModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <form action="/update-reviewer-info" method="post" autocomplete="off">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h5 class="modal-title mt-1 ms-4" style="font-weight: 600;">Edit Reviewer</h5>
                            <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-start">
                            <div class="row pb-2">
                                <div class="col-4 ms-4 ps-4 modal-label">
                                    *Name:
                                </div>
                                <div class="col">
                                    <input type="text" id="editReviewerName" name="editReviewerName" class="modal-text" placeholder="Required">
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-4 ms-4 ps-4 modal-label">
                                    *Phylum:
                                </div>
                                <div class="col">
                                    <input type="text" id="editPhylum" name="editPhylum" class="modal-text" placeholder="Required">
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-4 ms-4 ps-4 modal-label">
                                    Focus Area:
                                </div>
                                <div class="col">
                                    <input type="text" id="editFocus" name="editFocus" class="modal-text">
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-4 ms-4 ps-4 modal-label">
                                    Organization:
                                </div>
                                <div class="col">
                                    <input type="text" id="editOrganization" name="editOrganization" class="modal-text">
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-4 ms-4 ps-4 modal-label">
                                    Email:
                                </div>
                                <div class="col">
                                    <input type="text" id="editEmail" name="editEmail" class="modal-text">
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-4 ms-4 ps-4 modal-label">
                                    <button
                                        type="button"
                                        class="editButton"
                                        style="font-weight: 500;"
                                        data-bs-toggle="modal"
                                        data-bs-target="#deleteReviewerModal">
                                            Delete Reviewer
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary modal-button" data-bs-dismiss="modal">Cancel</button>
                            <input type="hidden" id="ogReviewerName" name="ogReviewerName">
                            <input type="submit" id="editReviewerSubmitButton" class="btn btn-success modal-button" value="Save Changes">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal fade" id="deleteReviewerModal" role="dialog" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <form action="#" method="post" autocomplete="off">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h5 class="modal-title mt-1 ms-4" style="font-weight: 600;">Delete Reviewer</h5>
                            <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-start mx-4">
                            Are you sure you want to remove <span id="deleteReviewerName">this reviewer</span> from the list of external reviewers?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary modal-button" data-bs-dismiss="modal">Cancel</button>
                            <a id="deleteReviewerButton" class="btn btn-danger modal-button">Delete</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>
    <script src="/static/js/autocomplete.js"></script>
    <script>
        const None = null;
        const reviewers = {{ reviewers|safe }};
    </script>
    <script src="/static/js/external-reveiwers.js"></script>
</body>
</html>