{% extends "base.html" %}
{% block content %}
    <div class="container mt-3 text-end small">
        <div class="dropdown">
            <button id="externalReviewDropdownBtn" type="button" class="aquaLink me-2" data-bs-toggle="dropdown" aria-expanded="false">
                External Image Review
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>
            </button>
            {% if unread_comment_count > 0 %}
            <span id="notif">
                <a href="/external-review?unread=true" class="text-decoration-none text-white external-review-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#eeeeee" class="bi bi-chat-right-fill mt-1" viewBox="0 0 16 16">
                      <path d="M14 0a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
                    </svg>
                    <span id="notif-inner">{{ unread_comment_count }}</span>
                </a>
            </span>
            {% endif %}
            <ul id="external-dropdown" class="dropdown-menu small">
                <li><a class="dropdown-item small external-review-link" href="/external-review?unread=true">View Unread ({{ unread_comment_count }})</a></li>
                <li><a class="dropdown-item small external-review-link" href="/external-review">View All ({{ total_comment_count }})</a></li>
                <li><hr class="dropdown-divider"></li>
                <div class="small text-center pb-1 px-4 mx-2" style="font-weight: 500;">Active Reviewer Pages</div>
                {% for reviewer in active_reviewers %}<li>
                    <a
                        class="dropdown-item small external-review-link"
                        href="/external-review?reviewer={{ reviewer }}"
                    >
                        {{ reviewer }}
                    </a>
                </li>{% endfor %}
            </ul>
        </div>
    </div>
    <div id="index" class="text-center mb-3 mx-5">
        <img src="/static/img/logo_darc.png" class="mt-2" width="30%" style="max-width: 300px; min-width: 200px; pointer-events: none;" alt="DARC logo"/>
        <h1 class="my-3">DARC Review</h1>
        <form id="indexForm">
            <div id="sequenceList" class="ms-2">
                <div id="seqList1">
                    <div class="row d-inline-flex">
                        <div class="col-1"></div>
                        <div class="col-10 p-0">
                            <label id="seqNameLabel" for="sequence1" class="small mb-2">Sequence Name:</label><br>
                            <div class="autocomplete">
                                <input type="text" id="sequence1" name="sequence" class="sequenceName" placeholder="[Vessel] [Dive Number]" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-1 ps-0 mt-auto">
                            <button id="plusButton" type="button" class="plusButton">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" id="qaqcButton" class="btn btn-success mt-4 mb-2 indexButton" disabled>QA/QC</button>
            <br>
            <button type="button" id="imageReviewButton" class="btn btn-success mb-5 indexButton" disabled>Image Review</button>
        </form>
    </div>
    {% include 'components/loading-fish.html' %}
    <script src="/static/modules/jquery/jquery.min.js"></script>
    <script src="/static/modules/bootstrap/bootstrap.bundle.js"></script>
    <script src="/static/js/util/autocomplete.js"></script>
    <script>
        const sequences = {{ sequences|safe }};
    </script>
    <script src="/static/js/index.js"></script>
{% endblock content %}
