{% extends "base.html" %}
{% block content %}
{% include 'components/flash-container.html' %}
{% include 'components/loading-fish.html' %}
<div class="container mt-3 small d-flex justify-content-end">
    <div>
        <a href="/image-reference" class="aquaLink indexDropdownButton">
            Image References
            <svg xmlns="http://www.w3.org/2000/svg" height="22px" viewBox="0 -960 960 960" width="22px" fill="currentColor" class="ms-1">
                <path d="M320-320h480v-480h-80v280l-100-60-100 60v-280H320v480Zm0 80q-33 0-56.5-23.5T240-320v-480q0-33 23.5-56.5T320-880h480q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H320ZM160-80q-33 0-56.5-23.5T80-160v-560h80v560h560v80H160Zm360-720h200-200Zm-200 0h480-480Z"/>
            </svg>
        </a>
    </div>
    <div class="mx-4" style="width: 1px; background: var(--darc-border);"></div>
    <div class="text-end">
        <div class="dropdown">
            <button type="button" class="aquaLink me-2 dropdown-toggle indexDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
                External Image Review
            </button>
            {% if unread_comment_count > 0 %}
            <span id="notif">
                <a href="/image-review/external-review?unread=true" class="text-decoration-none text-white external-review-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#eeeeee" class="bi bi-chat-right-fill mt-1" viewBox="0 0 16 16">
                      <path d="M14 0a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
                    </svg>
                    <span id="notif-inner">{{ unread_comment_count }}</span>
                </a>
            </span>
            {% endif %}
            <ul class="dropdown-menu indexDropdownMenu small">
                <li><a class="dropdown-item small external-review-link" href="/image-review/external-review?unread=true">Unread ({{ unread_comment_count }})</a></li>
                <li><a class="dropdown-item small external-review-link" href="/image-review/external-review?read=true">Read ({{ read_comment_count }})</a></li>
                <li><a class="dropdown-item small external-review-link" href="/image-review/external-review">All ({{ total_comment_count }})</a></li>
                <li><hr class="dropdown-divider"></li>
                <div class="small text-center pb-1 px-4 mx-2" style="font-weight: 500;">Active Reviewer Pages</div>
                {% for reviewer in active_reviewers %}<li>
                    <a
                        class="dropdown-item small external-review-link"
                        href="/image-review/external-review?reviewer={{ reviewer }}"
                    >
                        {{ reviewer }}
                    </a>
                </li>{% endfor %}
            </ul>
        </div>
    </div>
</div>
<div id="index" class="text-center mb-3 mx-5">
    <img src="/static/img/logo_darc.png" class="mt-2" width="30%" style="max-width: 300px; min-width: 200px; pointer-events: none;" alt="DARC logo"/>
    <h1 class="my-3">DARC Review</h1>
    <div class="dropdown">
        <button id="platformSelectBtn" type="button" class="aquaLink dropdown-toggle indexDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
            VARS
        </button>
        <ul class="dropdown-menu indexDropdownMenu">
            <li><button id="varsSelect" class="dropdown-item small">VARS</button></li>
            <li><button id="tatorSelect" class="dropdown-item small">Tator</button></li>
        </ul>
    </div>
    <form id="varsIndexForm">
        <div id="sequenceList" class="ms-2 mt-3 mb-2">
            <div id="seqList1">
                <div class="row d-inline-flex">
                    <div class="col-1"></div>
                    <div class="col-10 p-0">
                        <label id="seqNameLabel" for="sequence1" class="small mb-2">Sequence Name:</label><br>
                        <div class="autocomplete">
                            <input type="text" id="sequence1" name="sequence" class="sequenceName" placeholder="[Vessel] [Dive Number]" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-1 ps-0 mt-auto">
                        <button id="plusButton" type="button" class="plusButton">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" formaction="/qaqc/vars/checklist" id="varsImageReviewButton" class="btn btn-success mt-4 mb-2 indexButton" disabled>QA/QC</button>
        <br>
        <button type="submit" formaction="/image-review/vars" id="varsQaqcButton" class="btn btn-success mb-5 indexButton" disabled>Image Review</button>
    </form>
    <form id="tatorLogin" onsubmit="tatorLogin()" autocomplete="off" class="mt-4" style="display: none;">
        <input type="text" name="username" class="tatorLoginInput mb-2" placeholder="Username"><br>
        <input type="password" id="password" name="password" class="tatorLoginInput mb-2" placeholder="Password"><br>
        <button type="submit" id="loginBtn" class="btn btn-success px-4 mt-4" style="font-weight: 500;">Login</button>
    </form>
    <form id="tatorIndexForm" style="display: none;" autocomplete="off">
        <input type="hidden" name="project" value="26">
        <div class="small">
            <span style="opacity: 80%;">Logged in as</span>
            <span class="dropdown mb-4">
                <button id="tatorLoggedInUser" type="button" class="dropdown-toggle indexDropdownButton" data-bs-toggle="dropdown" aria-expanded="false" style="font-weight: 500; color: white;"></button>
                <ul class="dropdown-menu indexDropdownMenu">
                    <li><button id="logoutBtn" type="button" class="dropdown-item small">Sign out</button></li>
                </ul>
            </span>
        </div>
        <div>
            <div class="row d-inline-flex">
                <div class="col-1"></div>
                <div class="col-10 p-0">
                    <label for="tatorExpedition" class="small mb-2 mt-4">Expedition:</label>
                    <br>
                    <select id="tatorExpedition" class="sequenceName"></select>
                    <br>
                    <label for="tatorFolder" class="small mb-2 mt-3">Folder:</label>
                    <br>
                    <select id="tatorFolder" class="sequenceName"></select>
                    <br>
                </div>
                <div class="col-1"></div>
            </div>
            <div id="tatorDeploymentList" class="my-2">
                <div id="depList1">
                    <div class="row d-inline-flex">
                        <div class="col-1"></div>
                        <div class="col-10 p-0">
                            <label for="deployment1" id="tatorDeploymentLabel" class="small mb-2">Deployment:</label><br>
                            <select id="deployment1" name="section" class="sequenceName"></select>
                        </div>
                        <div class="col-1 ps-0 mt-auto">
                            <button id="tatorPlusButton" type="button" class="plusButton">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" formaction="/qaqc/tator/checklist" id="tatorQaqcButton" class="btn btn-success mt-4 mb-2 indexButton">QA/QC</button>
        <br>
        <button type="submit" formaction="/image-review/tator" id="tatorImageReviewButton" class="btn btn-success mb-5 indexButton">Image Review</button>
    </form>
</div>
{% endblock content %}
{% block scripts %}
<script>
  const sequences = {{ sequences|safe }};
</script>
<script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock scripts %}
