{% extends "base.html" %}
{% block title %}DARC QA/QC{% endblock title %}
{% block content %}
    {% include 'components/loading-fish.html' %}
    <div id="fireworks" class="pyro" style="display: none;">
        <div class="before"></div>
        <div class="after"></div>
    </div>
    {% include 'components/back-to-home-button.html' %}
    <div class="text-center my-3 mx-5">
        {% include 'components/flash-container.html' %}
        <div class="col mt-4 m-auto" style="max-width: 800px;">
            <div class="row m-auto mb-3">
                <div class="col-9 text-start">
                    <h3 id="vesselName" class="m-0 p-0" style="font-weight: 600;"></h3>
                    <div id="sequenceList" class="mb-2"></div>
                    <div style="font-weight: 600;">QA/QC Checklist</div>
                </div>
                <div class="col text-end mt-auto small">
                    <span>Total Annotations:&nbsp;&nbsp<span id="annotationCount" style="font-weight: 600;"></span></span><br>
                    <span>Total Individuals:&nbsp;&nbsp~<span id="individualCount" style="font-weight: 600;"></span></span><br>
                    <span>Checks Complete: &nbsp<span style="font-weight: 600;"><span id="tasksComplete">0</span> / <span>16</span></span></span>
                </div>

            </div>
        </div>
        <div id="404" style="display: none;" class="my-5">
            <h3>No records found for given dive<br></h3>
        </div>
        <div class="m-auto" style="max-width: 800px;">
            <div>
                <table id="checklistTable" class="table text-start">
                    <tbody style="border-top: solid 2px var(--darc-border);">
                        <tr>
                            <td><a id="primarySubstrateAnchor" class="aquaLink">No records other than "none" missing primary substrate</a></td>
                            <td id="primarySubstrateCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="missingUponAnchor" class="aquaLink">No records other than "none" missing "upon"</a></td>
                            <td id="missingUponCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><button type="button" id="missingAncillaryAnchor" data-bs-toggle="modal" data-bs-target="#quickCheckModal" class="aquaLink">No records missing ancillary data</button></td>
                            <td id="missingAncillaryCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="multipleAssociationsAnchor" class="aquaLink">No records with more than one of the same association type other than s2</a></td>
                            <td id="multipleAssociationsCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="identicalS1S2Anchor" class="aquaLink">No records with identical primary and secondary substrates</a></td>
                            <td id="identicalS1S2Checkbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="duplicateS2Anchor" class="aquaLink">No records with duplicate secondary substrates</a></td>
                            <td id="duplicateS2Checkbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="uponSubstrateAnchor" class="aquaLink">No records missing a substrate that it is recorded "upon"</a></td>
                            <td id="uponSubstrateCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="timestampSubstrateAnchor" class="aquaLink">No records occurring at the same timestamp with mismatched substrates</a></td>
                            <td id="timestampSubstrateCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="refIdConceptNameAnchor" class="aquaLink">No records with the same ID reference have different concept names</a></td>
                            <td id="refIdConceptNameCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="refIdAssociationsAnchor" class="aquaLink">No records with the same ID reference have conflicting associations</a></td>
                            <td id="refIdAssociationsCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="blankAssociationsAnchor" class="aquaLink">No records with blank association link values</a></td>
                            <td id="blankAssociationsCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="suspiciousHostAnchor" class="aquaLink">Review records with a suspicious host (concept upon itself)</a></td>
                            <td id="suspiciousHostCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="expectedAssociationAnchor" class="aquaLink">Review records that are expected to be associated with an organism (slow)</a></td>
                            <td id="expectedAssociationCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="timeDiffHostUponAnchor" class="aquaLink">Review upon/host record timestamps</a></td>
                            <td id="timeDiffHostUponCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="boundingBoxesAnchor" class="aquaLink">Review number of bounding boxes for each unique concept</a></td>
                            <td id="boundingBoxesCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="uniqueFieldsAnchor" class="aquaLink">Review all unique fields (concept names, comments, condition comments, etc)</a></td>
                            <td id="uniqueFieldsCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="quickCheckModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog pt-5">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 id="quickCheckModalHeader" class="modal-title mt-1 ms-4" style="font-weight: 600;"></h5>
                    <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-start mx-4">
                    <span id="quickCheckNumProblemRecords"></span> out of <span id="quickCheckTotalRecords"></span> records are <span id="quickCheckCheck"></span>.
                </div>
                <div class="modal-footer">
                    <div class="col text-end">
                        <div>
                            <button type="button" class="btn btn-secondary modal-button" data-bs-dismiss="modal">Back</button>
                            <button id="quickCheckSeeDetailsBtn" type="button" class="btn btn-primary modal-button">See Details</button>
                        </div>
                        <div class="small text-end me-2 pe-1" style="opacity: 60%;">
                            (slow if many records)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="/static/css/fireworks.css" />
    <script src="/static/modules/jquery/jquery.min.js"></script>
    <script src="/static/modules/bootstrap/bootstrap.bundle.js"></script>
    <script>
        const annotationCount = {{ annotation_count }};
        const individualCount = {{ individual_count }};
        const checklist = {{ checklist|safe }};
    </script>
    <script type="module" src="/static/js/qaqc/vars/qaqc-checklist.js"></script>
{% endblock content %}
