<div class="modal fade" id="addToImageReferencesModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form id="addToImageReferencesForm" onsubmit="addToImageReferences()" autocomplete="off">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title mt-1 ms-4" style="font-weight: 600;">Add to Image References</h5>
                    <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="addToImageReferencesModalDetails" class="modal-body text-start mx-4"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary modal-button" data-bs-dismiss="modal">Cancel</button>
                    <input type="submit" id="addToImageReferencesSubmitButton" class="btn btn-primary modal-button" value="Add">
                </div>
            </div>
        </form>
    </div>
</div>
