<div class="modal fade" id="deleteReviewModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form id="deleteFromExternalReviewForm" onsubmit="deleteFromExternalReview()" autocomplete="off">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title mt-1 ms-4" style="font-weight: 600;">Delete From External Review</h5>
                    <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-start mx-4">
                    Are you sure you want to delete this record from the external review database?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary modal-button" data-bs-dismiss="modal">Cancel</button>
                    <input type="hidden" id="externalDeleteUuid" name="uuid">
                    <input type="hidden" id="externalDeleteTator" name="tator">
                    <input type="submit" id="externalModalDeleteButton" class="btn btn-danger modal-button" value="Delete">
                </div>
            </div>
        </form>
    </div>
</div>