<div class="modal fade" id="editTatorLocalizationModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form id="updateLocalizationForm" onsubmit="updateLocalization()" autocomplete="off">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title mt-1 ms-4" style="font-weight: 600;">Edit Annotation</h5>
                    <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-start">
                    <div class="row pb-2">
                        <div class="col-4 ms-4 ps-4 modal-label">
                            Scientific Name:
                        </div>
                        <div class="col position-relative">
                            <input type="text" id="editScientificName" name="scientific_name" class="modal-text">
                            <div id="scientificNameAutocompleteSpinner" class="text-input-loading-container">
                                <div class="text-input-loading-spinner"></div>
                            </div>
                       </div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-4 ms-4 ps-4 modal-label">
                            Attracted:
                        </div>
                        <div class="col">
                            <select id="editAttracted" name="attracted">
                                <option>Not Attracted</option>
                                <option>Attracted</option>
                            </select>
                        </div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-4 ms-4 ps-4 modal-label">
                            Qualifier:
                        </div>
                        <div class="col">
                            <select id="editQualifier" name="qualifier">
                                <option>--</option>
                                <option>indet.</option>
                                <option>stet.</option>
                            </select>
                        </div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-4 ms-4 ps-4 modal-label">
                            Cat. Abundance:
                        </div>
                        <div class="col">
                            <select id="editCatAbundance" name="categorical_abundance">
                                <option>--</option>
                                <option>1-19</option>
                                <option>20-49</option>
                                <option>50-99</option>
                                <option>100-999</option>
                                <option>1000+</option>
                            </select>
                        </div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-4 ms-4 ps-4 modal-label">
                            Reason:
                        </div>
                        <div class="col">
                            <select id="editReason" name="reason">
                                <option>--</option>
                                <option>To be re-examined</option>
                                <option>Non-target taxon</option>
                            </select>
                        </div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-4 ms-4 ps-4 modal-label">
                            Tentative ID:
                        </div>
                        <div class="col">
                            <input type="text" id="editTentativeId" name="tentative_id" class="modal-text">
                        </div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-4 ms-4 ps-4 modal-label">
                            Morphospecies:
                        </div>
                        <div class="col">
                            <input type="text" id="editMorphospecies" name="morphospecies" class="modal-text">
                        </div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-4 ms-4 ps-4 modal-label">
                            ID Remarks:
                        </div>
                        <div class="col">
                            <input type="text" id="editIdRemarks" name="identification_remarks" class="modal-text">
                        </div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-4 ms-4 ps-4 modal-label">
                            Identified By:
                        </div>
                        <div class="col">
                            <input type="text" id="editIdentifiedBy" name="identified_by" class="modal-text">
                        </div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-4 ms-4 ps-4 modal-label">
                            Notes:
                        </div>
                        <div class="col">
                            <input type="text" id="editNotes" name="notes" class="modal-text">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary modal-button" data-bs-dismiss="modal">Cancel</button>
                    <input type="hidden" id="editLocalizationIdType" name="localization_id_types">
                    <input type="hidden" id="baseUuid" name="observation_uuid">
                    <input type="submit" id="editTatorLocaModalSubmitButton" class="btn btn-success modal-button" value="Save Changes">
                </div>
            </div>
        </form>
    </div>
</div>
