{% extends "base.html" %}
{% block title %}DARC VARS QA/QC{% endblock title %}
{% block content %}
    {% include 'components/loading-fish.html' %}
    <div id="fireworks" class="pyro" style="display: none;">
        <div class="before"></div>
        <div class="after"></div>
    </div>
    {% include 'components/back-to-home-button.html' %}
    <div class="text-center my-3 mx-5">
        {% include 'components/flash-container.html' %}
        <div class="col mt-4 m-auto" style="max-width: 800px;">
            <div class="row m-auto">
                <div class="col-9 text-start">
                    <h3 id="vesselName" class="m-0 p-0 pb-2" style="font-weight: 600;"></h3>
                    <div id="sequenceList"></div>
                </div>

            </div>
        </div>
        <div id="404" style="display: none;" class="my-5">
            <h3>No records found for given dive<br></h3>
        </div>
        <div class="m-auto" style="max-width: 800px;">
            <div>
                <table class="w-100">
                    <thead>
                        <tr>
                            <th class="text-start" style="font-weight: 600; padding-left: 10px;">VARS QA/QC Checklist</th>
                            <th class="text-end pb-2 px-2" style="font-weight: 400;">
                                <span class="col-3 text-end mt-auto small">
                                <span>Total Annotations:&nbsp;&nbsp<span id="annotationCount" style="font-weight: 600;"></span></span><br>
                                <span>Checks Complete: &nbsp<span style="font-weight: 600;"><span id="tasksComplete">0</span> / <span>14</span></span></span>
                                </span>
                            </th>
                        </tr>
                    </thead>
                </table>
                <table id="checklistTable" class="table text-start">
                    <tbody>
                        <tr>
                            <td><a id="primarySubstrateAnchor" class="aquaLink">No records other than "none" missing primary substrate</a></td>
                            <td id="primarySubstrateCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="missingUponAnchor" class="aquaLink">No records other than "none" missing "upon"</a></td>
                            <td id="missingUponCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><button type="button" id="missingAncillaryAnchor" data-bs-toggle="modal" data-bs-target="#quickCheckModal" class="aquaLink">No records missing ancillary data</button></td>
                            <td id="missingAncillaryCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="multipleAssociationAnchor" class="aquaLink">No records with more than one of the same association type other than s2</a></td>
                            <td id="multipleAssociationCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="identicalS1S2Anchor" class="aquaLink">No records with identical primary and secondary substrates</a></td>
                            <td id="identicalS1S2Checkbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="duplicateS2Anchor" class="aquaLink">No records with duplicate secondary substrates</a></td>
                            <td id="duplicateS2Checkbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="uponSubstrateAnchor" class="aquaLink">No records missing a substrate that it is recorded "upon"</a></td>
                            <td id="uponSubstrateCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="timestampSubstrateAnchor" class="aquaLink">No records occurring at the same timestamp with mismatched substrates</a></td>
                            <td id="timestampSubstrateCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="refIdConceptNameAnchor" class="aquaLink">No records with the same ID reference have different concept names</a></td>
                            <td id="refIdConceptNameCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="refIdAssociationsAnchor" class="aquaLink">No records with the same ID reference have conflicting associations</a></td>
                            <td id="refIdAssociationsCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="suspiciousHostAnchor" class="aquaLink">Review records with a suspicious host (concept upon itself)</a></td>
                            <td id="suspiciousHostCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="expectedAssociationAnchor" class="aquaLink">Review records that are expected to be associated with an organism (slow)</a></td>
                            <td id="expectedAssociationCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="timeDiffHostUponAnchor" class="aquaLink">Review upon/host record timestamps</a></td>
                            <td id="timeDiffHostUponCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="uniqueFieldsAnchor" class="aquaLink">Review all unique fields (concept names, comments, condition comments, etc)</a></td>
                            <td id="uniqueFieldsCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="quickCheckModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog pt-5">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 id="quickCheckModalHeader" class="modal-title mt-1 ms-4" style="font-weight: 600;"></h5>
                    <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-start mx-4">
                    <span id="quickCheckNumProblemRecords"></span> out of <span id="quickCheckTotalRecords"></span> records are <span id="quickCheckCheck"></span>.
                </div>
                <div class="modal-footer">
                    <div class="col text-end">
                        <div>
                            <button type="button" class="btn btn-secondary modal-button" data-bs-dismiss="modal">Back</button>
                            <button id="quickCheckSeeDetailsBtn" type="button" class="btn btn-primary modal-button">See Details</button>
                        </div>
                        <div class="small text-end me-2 pe-1" style="opacity: 60%;">
                            (slow if many records)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="/static/css/fireworks.css" />
    <script src="/static/modules/jquery/jquery.min.js"></script>
    <script src="/static/modules/bootstrap/bootstrap.bundle.js"></script>
    <script>
        const annotationCount = {{ annotation_count }};
    </script>
    <script type="module" src="/static/js/qaqc/vars-qaqc-checklist.js"></script>
{% endblock content %}
