:root {
    --darc-bg: #222831;
    --darc-input-bg: #2d3541;
    --darc-text: #eeeeee;
    --darc-border: #393e46;
    --darc-btn-text-hover: #00c3cc;
    --darc-link-text: #00ADB5;
}

body {
    background-color: var(--darc-bg);
    color: var(--darc-text);
}

table {
    color: var(--darc-text) !important;
    --bs-table-striped-color: var(--darc-text) !important;
    vertical-align: middle !important;
    border-bottom: var(--darc-border) !important;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

select {
    -webkit-appearance: none;
    padding: 5px 10px;
    background-color: var(--darc-border);
    color: var(--darc-text);
    width: 150px;
    height: 34px;
    border: 0;
    border-radius: 3px;
}

select:active {
    border: 0;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #1d222a;
}

::-webkit-scrollbar-thumb {
    background-color: #555556;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #686869;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background-color: #1d222a;
}

::-webkit-resizer {
    background-color: #1d222a;
}

.loader-bg-hidden {
    display: none;
}

.loader-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: rgba(0, 0, 0, 0.47);
    z-index: 1070;
}

.loader {
    border: 6px solid #dedede;
    border-top: 6px solid #79b1e8;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
    margin-bottom: 50px;
}

.modal-lg {
    max-width: 600px;
}

.modal-header {
    border-bottom: 2px solid var(--darc-border);
}

.modal-footer {
    border-top: 2px solid var(--darc-border);
}

.modal-content {
    background-color: var(--darc-bg);
}

.modal-button {
    padding: 6px 40px;
    font-weight: 450;
}

.modal-text {
    background-color: var(--darc-border);
    color: var(--darc-text);
    border: 0;
    width: 300px;
    padding: 5px 10px;
}

.modal-text-qaqc {
    background-color: var(--darc-border);
    color: var(--darc-text);
    border: 0;
    width: 240px;
    padding: 5px 10px;
}

.modal-content select {
    background-color: var(--darc-border);
    color: var(--darc-text);
    padding: 5px 10px;
    width: 300px;
}

.modal-label {
    font-weight: 500;
}

.modal.fade {
  background: rgba(0, 0, 0, 0.5);
}

.modal-backdrop.fade {
  opacity: 0;
}

.rotate {
    transform: rotate(180deg);
    transition: 0.3s;
}

.video-overlay-link {
    color: #ffffff50;
    transition: 0.1s;
}

.video-overlay-link:hover {
    color: #ffffff;
}

.photo-slideshow-arrows {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 8px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    user-select: none;
}

.photo-slideshow-prev {
    left: 0;
    border-radius: 10px;
}

.photo-slideshow-next {
    right: 0;
    border-radius: 10px;
}

.photo-slideshow-arrows:hover {
    background-color: #00000030;
    color: #fff;
}

.values {
    font-weight: 600;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
    max-height: 600px;
    overflow: auto;
    position: absolute;
    border: 1px solid var(--darc-border);
    border-top: none;
    z-index: 99;
    padding: 0;
}

.reviewer-autocomplete-items {
    max-width: 70%;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: var(--darc-bg);
    border-bottom: 1px solid var(--darc-border);
}

.autocomplete-items div:hover {
    background-color: var(--darc-border);
}

.autocomplete-active {
    background-color: #234c73 !important;
    color: #ffffff;
}

.editButton {
    font-weight: 500;
    color: var(--darc-link-text);
    text-decoration: none;
    background: transparent;
    border: none;
    padding: 0;
    transition: 0.2s;
}

.editButton:hover {
    color: var(--darc-btn-text-hover);
}

.reviewer {
    width: 400px;
    padding-left: 10px;
    padding-right: 10px;
}

.plusButton {
    padding: 0;
    margin: 0;
    background: transparent;
    border: 0;
    color: #5d6470;
    transition: 0.2s;
}

.plusButton:hover {
    color: var(--darc-btn-text-hover);
}

.filterButtonActive {
    color: #d3d3d3 !important;
}

.xButton {
    padding: 0;
    margin: 0;
    background: transparent;
    border: 0;
    color: #41464f;
    transition: 0.2s;
}

.xButton:hover {
    color: #585e67;

}

.qaqcXButton {
    padding: 0;
    margin: 0;
    background: transparent;
    border: 0;
    color: #ab3d47;
    transition: 0.2s;
}

.qaqcXButton:hover {
    color: #d09da1;
}

.qaqcCheckButton {
    padding: 0;
    margin: 0;
    background: transparent;
    border: 0;
    color: #6e9a70;
    transition: 0.2s;
}

.qaqcCheckButton:hover {
    color: #a9d2ac;
}

.qaqcCheckButton:disabled {
    color: #666;
}

.qaqcCheckButton:disabled:hover {
    color: #666;
}

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-number, .pagination-button{
    font-size: 1rem;
    color: var(--darc-link-text);
    background-color: transparent;
    border: none;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 1rem;
}
.pagination-number:hover, .pagination-button:not(.disabled):hover {
    color: #207679;
    cursor: pointer;
}

.pagination-number.active {
    color: var(--darc-text);
    font-weight: 600;
}

.accordion-item {
    background-color: transparent;
}

.aquaLink {
    color: var(--darc-link-text);
    background: transparent;
    border: none;
    padding: 0;
    text-decoration: none;
    transition: 0.2s;
}

.aquaLink:hover {
    color: var(--darc-btn-text-hover);
}

.filter-pill {
    margin-left: 12px;
    padding: 5px 15px;
    background: var(--darc-border);
    border-radius: 5px;
}

.filter-x {
    color: #79858f;
    background: #2b343d;
    padding: 0 8px 2px 8px;
    border: none;
    border-radius: 20px;
    top: -5px;
    right: -8px;
    transition: 0.2s;
}

.filter-x:hover {
    color: white;
    background: #414b56;
}

.dropdown-chev {
    pointer-events: none;
    top: -3px;
    right: 8px;
}

.dropdown-chev-lg {
    pointer-events: none;
    top: 3px;
    right: 10px;
}

.indexButton {
    font-weight: 600;
    font-size: 16px;
    padding: 6px;
    width: 200px;
}

.associationTable tr, td {
    border-bottom-width: 1px !important;
}

.alert-bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: 5px;
    animation: progressBar 5s linear forwards;
}

.indexDropdownButton {
    border: none;
    background: transparent;
    font-weight: 500;
}

.indexDropdownMenu {
    color: var(--darc-text);
    background: var(--darc-border);
    min-width: 250px;
    max-height: 90vh;
    overflow-y: scroll;
}

.indexDropdownMenu .dropdown-item:hover, .dropdown-item:active {
    background: #484e57;
}

.indexDropdownMenu li a, .indexDropdownMenu li a:hover, .indexDropdownMenu li a:active  {
    color: var(--darc-text);
}

.indexDropdownMenu li button, .indexDropdownMenu li button:hover, .indexDropdownMenu li button:active {
    color: var(--darc-text);
}

.table-header-hover:hover {
    transition: all 0.1s;
    filter: brightness(110%);
}

.table>:not(:first-child) {
    border-top: 0;
}

.sequenceName {
    padding: 3px 8px;
    width: 250px;
    border: 0;
}

.tatorLoginInput {
    padding: 3px 8px;
    background: #2c363a;
    color: var(--darc-text);
    width: 150px;
    border: 0;
}

.tator-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: yellow;
}

.tator-box {
    background-color: rgba(203, 203, 14, 0.25);
    border: 2px solid yellow;
    border-radius: 2px;
}

.tator-loader-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    pointer-events: none;
}

.tator-loader {
    display: none;
    border: 5px solid #dedede;
    border-top: 5px solid #79b1e8;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1.5s linear infinite;
}

.attractedListButton {
    padding: 0;
    margin: 0;
    background: transparent;
    border: 0;
    color: #5e5e5e;
    transition: 0.2s;
}

.attractedListButton:hover {
    color: #949494;
}

.alert-bottom-bar-success {
    background-color: #80c9a7;
}

.alert-bottom-bar-danger {
    background-color: #ff8383;
}

.text-input-loading-container {
    pointer-events: none;
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: center;
    top: 0;
    width: 300px;
    height: 100%;
}

.text-input-loading-spinner {
    border: 3px solid rgba(0, 0, 0, 0);
    border-top: 3px solid #79b1e8;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}

@keyframes progressBar {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#annotationTable {
    max-width: 1200px;
}

#annotationTable thead, tbody, tfoot, tr, td, th {
    border-bottom-width: 2px;
    border-bottom-color: var(--darc-border) !important;
}

#index input {
    border-radius: 3px;
}

#index .autocomplete-items {
    width: 250px;
    max-height: 300px;
}

#editModalFields .autocomplete-items {
    max-height: 500px;
}

#sequenceList {
    flex-wrap: nowrap;
}

#filterAccordion {
    width: 300px;
}

#filterAccordion .accordion-body {
    padding: 0;
}

#filterEntry {
    padding: 5px 10px;
    background-color: var(--darc-border);
    color: var(--darc-text);
    border: 0;
    width: 150px;
}

#imageFilterEntry {
    padding: 3px 8px;
    background-color: var(--darc-border);
    color: var(--darc-text);
    border: 0;
    width: 120px;
}

#imageFilterSelect {
    padding: 3px 8px;
    width: 100px;
    height: 28px;
    border: 0;
    border-radius: 0;
}

#sortSelect {
    width: 100px;
    padding: 1px 6px 2px 6px;
    background-color: #2c3138;
    height: 25px;
    border: 0;
    border-radius: 3px;
}

.reviewerNameButton {
    width: 300px;
    background: var(--darc-border);
    color: var(--darc-text);
    border: solid #7f8088 1px;
    border-radius: 1px;
}

#notif {
    color: var(--darc-text);
    text-decoration: none;
    position: relative;
}

#notif-inner {
    background-color: #FA3E3E;
    font-weight: 600;
    font-size: 10px;
    padding: 1px 8px 1px 6px;
    border-radius: 4px;
    position: absolute;
    top: -6px;
    right: -10px;
}

#paginationSelect {
    -webkit-appearance: none;
    padding: 2px 6px;
    background-color: #2f333a;
    color: var(--darc-text);
    width: 40px;
    height: 28px;
    border: 0;
    border-radius: 3px;
}

#paginationSelect:active {
    border: 0;
}

.checkbox-wrapper-5 .check {
    --size: 20px;
    position: relative;
    background: linear-gradient(90deg, #46a5c2, #359fb4);
    line-height: 0;
    perspective: 400px;
    font-size: var(--size);
}

.checkbox-wrapper-5 .check input[type="checkbox"],
.checkbox-wrapper-5 .check label,
.checkbox-wrapper-5 .check label::before,
.checkbox-wrapper-5 .check label::after,
.checkbox-wrapper-5 .check {
    appearance: none;
    display: inline-block;
    border-radius: var(--size);
    border: 0;
    transition: .35s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
}

.checkbox-wrapper-5 .check label {
    width: calc(2.2 * var(--size));
    height: var(--size);
    background: #303642;
    overflow: hidden;
}

.checkbox-wrapper-5 .check input[type="checkbox"] {
    position: absolute;
    z-index: 1;
    width: calc(.8 * var(--size));
    height: calc(.8 * var(--size));
    top: calc(.1 * var(--size));
    left: calc(.1 * var(--size));
    background: linear-gradient(45deg, #dedede, #ffffff);
    box-shadow: 0 6px 7px rgba(0,0,0,0.3);
    outline: none;
    margin: 0;
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked {
    left: calc(1.3 * var(--size));
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked + label {
    background: transparent;
}

.checkbox-wrapper-5 .check label::before,
.checkbox-wrapper-5 .check label::after {
    content: "· ·";
    position: absolute;
    overflow: hidden;
    left: calc(.15 * var(--size));
    top: calc(.5 * var(--size));
    height: var(--size);
    letter-spacing: calc(-0.04 * var(--size));
    color: #222831;
    font-family: "Times New Roman", serif;
    z-index: 2;
    font-size: calc(.6 * var(--size));
    border-radius: 0;
    transform-origin: 0 0 calc(-0.5 * var(--size));
    backface-visibility: hidden;
}

.checkbox-wrapper-5 .check label::after {
    content: "●";
    top: calc(.65 * var(--size));
    left: calc(.2 * var(--size));
    height: calc(.1 * var(--size));
    width: calc(.35 * var(--size));
    font-size: calc(.2 * var(--size));
    transform-origin: 0 0 calc(-0.4 * var(--size));
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::before,
.checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::after {
    left: calc(1.55 * var(--size));
    top: calc(.4 * var(--size));
    line-height: calc(.1 * var(--size));
    transform: rotateY(360deg);
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::after {
    height: calc(.16 * var(--size));
    top: calc(.55 * var(--size));
    left: calc(1.6 * var(--size));
    font-size: calc(.6 * var(--size));
    line-height: 0;
}
