:root {
    --darc-bg: #222831;
    --darc-text: #eeeeee;
    --darc-border: #393e46;
    --darc-btn-text-hover: #00c3cc;
    --darc-link-text: #00ADB5;
}

body {
    background-color: var(--darc-bg);
    color: var(--darc-text);
}

table {
    color: var(--darc-text) !important;
    --bs-table-striped-color: var(--darc-text) !important;
    vertical-align: middle !important;
    border-bottom: var(--darc-border) !important;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

select {
    -webkit-appearance: none;
    padding: 5px 10px;
    background-color: var(--darc-border);
    color: var(--darc-text);
    width: 150px;
    height: 34px;
    border: 0;
    border-radius: 3px;
}

select:active {
    border: 0;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #1d222a;
}

::-webkit-scrollbar-thumb {
    background-color: #555556;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #686869;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background-color: #1d222a;
}

::-webkit-resizer {
    background-color: #1d222a;
}

.modal-lg {
    max-width: 600px;
}

.modal-header {
    border-bottom: 2px solid var(--darc-border);
}

.modal-footer {
    border-top: 2px solid var(--darc-border);
}

.modal-content {
    background-color: var(--darc-bg);
}

.modal-button {
    padding: 6px 40px;
    font-weight: 450;
}

.modal-text {
    background-color: var(--darc-border);
    color: var(--darc-text);
    border: 0;
    width: 300px;
    padding: 5px 10px;
}

.modal-text-qaqc {
    background-color: var(--darc-border);
    color: var(--darc-text);
    border: 0;
    width: 240px;
    padding: 5px 10px;
}

.modal-content select {
    background-color: var(--darc-border);
    color: var(--darc-text);
    padding: 5px 10px;
    width: 300px;
}

.modal-label {
    font-weight: 500;
}

.modal.fade {
  background: rgba(0, 0, 0, 0.5);
}

.modal-backdrop.fade {
  opacity: 0;
}

.values {
    font-weight: 600;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
    max-height: 600px;
    overflow: auto;
    position: absolute;
    border: 1px solid var(--darc-border);
    border-top: none;
    z-index: 99;
    padding: 0;
}

.reviewer-autocomplete-items {
    max-width: 70%;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: var(--darc-bg);
    border-bottom: 1px solid var(--darc-border);
}

.autocomplete-items div:hover {
    background-color: var(--darc-border);
}

.autocomplete-active {
    background-color: #234c73 !important;
    color: #ffffff;
}

.editButton {
    font-weight: 500;
    color: var(--darc-link-text);
    text-decoration: none;
    background: transparent;
    border: none;
    padding: 0;
    transition: 0.2s;
}

.editButton:hover {
    color: var(--darc-btn-text-hover);
}

.reviewer {
    width: 400px;
    padding-left: 10px;
    padding-right: 10px;
}

.plusButton {
    padding: 0;
    margin: 0;
    background: transparent;
    border: 0;
    color: #5d6470;
    transition: 0.2s;
}

.plusButton:hover {
    color: var(--darc-btn-text-hover);
}

.filterButtonActive {
    color: #d3d3d3 !important;
}

.xButton {
    padding: 0;
    margin: 0;
    background: transparent;
    border: 0;
    color: #41464f;
    transition: 0.2s;
}

.xButton:hover {
    color: #585e67;

}

.qaqcXButton {
    padding: 0;
    margin: 0;
    background: transparent;
    border: 0;
    color: #ab3d47;
    transition: 0.2s;
}

.qaqcXButton:hover {
    color: #d09da1;
}

.qaqcCheckButton {
    padding: 0;
    margin: 0;
    background: transparent;
    border: 0;
    color: #6e9a70;
    transition: 0.2s;
}

.qaqcCheckButton:hover {
    color: #a9d2ac;
}

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-number, .pagination-button{
    font-size: 1rem;
    color: var(--darc-link-text);
    background-color: transparent;
    border: none;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 1rem;
}
.pagination-number:hover, .pagination-button:not(.disabled):hover {
    color: #207679;
    cursor: pointer;
}

.pagination-number.active {
    color: var(--darc-text);
    font-weight: 600;
}

.accordion-item {
    background-color: transparent;
}

.loader-bg-hidden {
    display: none;
}

.loader-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: rgba(0, 0, 0, 0.47);
}

.loader {
    border: 6px solid #dedede;
    border-top: 6px solid #79b1e8;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
    margin-bottom: 50px;
}

.aquaLink {
    color: var(--darc-link-text);
    text-decoration: none;
    transition: 0.2s;
}

.aquaLink:hover {
    color: var(--darc-btn-text-hover);
}

.filter-pill {
    margin-left: 12px;
    padding: 5px 15px;
    background: var(--darc-border);
    border-radius: 5px;
}

.filter-x {
    color: #79858f;
    background: #2b343d;
    padding: 0 8px 2px 8px;
    border: none;
    border-radius: 20px;
    top: -5px;
    right: -8px;
    transition: 0.2s;
}

.filter-x:hover {
    color: white;
    background: #414b56;
}

.dropdown-chev {
    pointer-events: none;
    top: -3px;
    right: 8px;
}

.dropdown-chev-lg {
    pointer-events: none;
    top: 3px;
    right: 10px;
}

.indexButton {
    font-weight: 600;
    font-size: 16px;
    padding: 6px;
    width: 200px;
}

.associationTable tr, td {
    border-bottom-width: 1px !important;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#annotationTable {
    max-width: 1200px;
}

#annotationTable thead, tbody, tfoot, tr, td, th {
    border-bottom-width: 2px;
    border-bottom-color: var(--darc-border) !important;
}

#index input {
    border-radius: 3px;
}

.sequenceName {
    padding: 3px 8px;
    width: 250px;
    border: 0;
}

#index .autocomplete-items {
    width: 250px;
    max-height: 300px;
}

#sequenceList {
    flex-wrap: nowrap;
}

#filterAccordion {
    width: 300px;
}

#filterAccordion .accordion-body {
    padding: 0;
}

#filterEntry {
    padding: 5px 10px;
    background-color: var(--darc-border);
    color: var(--darc-text);
    border: 0;
    width: 150px;
}

#imageFilterEntry {
    padding: 3px 8px;
    background-color: var(--darc-border);
    color: var(--darc-text);
    border: 0;
    width: 120px;
}

#imageFilterSelect {
    padding: 3px 8px;
    width: 100px;
    height: 28px;
    border: 0;
    border-radius: 0;
}

#sortSelect {
    width: 100px;
    padding: 1px 6px 2px 6px;
    background-color: #2c3138;
    height: 25px;
    border: 0;
    border-radius: 3px;
}

.reviewerNameButton {
    width: 300px;
    background: var(--darc-border);
    color: var(--darc-text);
    border: solid #7f8088 1px;
    border-radius: 1px;
}

#notif {
    color: var(--darc-text);
    text-decoration: none;
    position: relative;
}

#notif-inner {
    background-color: #FA3E3E;
    font-weight: 600;
    font-size: 10px;
    padding: 1px 8px 1px 6px;
    border-radius: 4px;
    position: absolute;
    top: -6px;
    right: -10px;
}

#paginationSelect {
    -webkit-appearance: none;
    padding: 2px 6px;
    background-color: #2f333a;
    color: var(--darc-text);
    width: 40px;
    height: 28px;
    border: 0;
    border-radius: 3px;
}

#paginationSelect:active {
    border: 0;
}

#externalReviewDropdownBtn {
    border: none;
    background: transparent;
    font-weight: 500;
}

#external-dropdown {
    color: var(--darc-text);
    background: var(--darc-border);
}

#external-dropdown .dropdown-item:hover, .dropdown-item:active {
    background: #484e57;
}

#external-dropdown li a {
    color: var(--darc-text);
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-moz-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-o-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-ms-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
