<!doctype html>
<html lang="en">
<head>
    <title>DARC Image Review</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body id="index" class="text-center my-3 mx-5">
    <img src="/static/img/logo_darc.png" class="mt-4" width="30%" style="max-width: 300px; min-width: 200px"/>
    <h1 class="my-3 mt-4">404</h1>
    <h3 class="mb-3">
        {% if err == 'dive' %}
            Dive not found<br>Check the sequence number and try again
        {% elif err == 'pics' %}
            No photos found in given sequence number
        {% else %}
            Page not found
        {% endif %}
    </h3>
    <a href="/" style="color: #EEEEEE;">
        <h5>Return to home</h5>
    </a>
    <script src="/static/js/bootstrap.bundle.js"></script>
</body>
</html>
