<!doctype html>
<html lang="en">
<head>
    <title>DARC Image Review | {{ data.reviewer }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body class="text-center my-3 mx-5">
    <h1>Image Review</h1>
    <span>Please click "Submit Review" at the bottom of the page to save your comments.</span>
    <div class="col d-flex justify-content-center mt-3">
         <table class="table table-striped">
            <thead class="thead-dark" style="background-color: #393E46; color: #EEEEEE">
                <tr>
                    <th scope="col">Info</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
            <tbody class="text-start">
                {% for annotation in data.annotations %}
                <tr>
                    <td class="ps-5">
                        <div class="row">
                            <div class="col">
                                Concept:
                            </div>
                            <div class="col values">
                                {{ annotation.concept }}<br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                ID Certainty:<br>
                            </div>
                            <div class="col values">
                                {{ annotation.identity_certainty if annotation.identity_certainty else '-' }}<br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                ID Reference:<br>
                            </div>
                            <div class="col values">
                                {{ annotation.identity_reference if annotation.identity_reference else '-' }}<br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Upon:<br>
                            </div>
                            <div class="col values">
                                {{ annotation.upon if annotation.upon else '-' }}<br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Comments:<br>
                            </div>
                            <div class="col values">
                                {{ annotation.comment if annotation.comment else '-' }}<br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Guide Photo:<br>
                            </div>
                            <div class="col values">
                                {{ annotation.guide_photo if annotation.guide_photo else '-' }}<br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Timestamp:
                            </div>
                            <div class="col values">
                                {{ annotation.recorded_timestamp }}<br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Video Sequence:
                            </div>
                            <div class="col values">
                                {{ annotation.video_sequence_name }}<br>
                            </div>
                        </div>
                      <label class="mt-2" for="reviewer">Reviewer comments:</label>
                      <textarea id="reviewer" name="reviewer" rows="4" style="width: 100%;">
                      </textarea>
                    </td>
                    <td class="text-center">
                        <a href="{{ annotation.image_url }}" target="_blank">
                            <img src="{{ annotation.image_url }}" style="width: 500px;"/>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>
    <script src="/static/js/autocomplete.js"></script>
</body>
</html>