<!doctype html>
<html lang="en">
<head>
    <title>DARC Image Review | {{ data.annotations[0].video_sequence_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body class="text-center my-3 mx-5">
    <a href="/" style="color: #EEEEEE; text-decoration: none">
        <h1>Image Review</h1>
    </a>
    <div>
        Total Images: <span id="annotationCount"></span>
    </div>
    <div class="col d-flex justify-content-center mt-3">
        <table id="annotationTable" class="table table-striped">
            <thead class="thead-dark" style="background-color: #393E46; color: #EEEEEE">
                <tr>
                    <th scope="col">Info</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="container">
        <div class="pagination-container">
            <button class="pagination-button" id="prev-button" title="Previous page" aria-label="Previous page">
                &lt;
            </button>

            <div id="pagination-numbers">
            </div>

            <button class="pagination-button" id="next-button" title="Next page" aria-label="Next page">
                &gt;
            </button>
        </div>
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <form action="/update_annotation" method="post" autocomplete="off">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h5 class="modal-title mt-1 ms-4" style="font-weight: 600;">Edit Annotation</h5>
                        <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-start">
                        <div class="row pb-2">
                            <div class="col-4 ms-4 ps-4 modal-label">
                                Concept:
                            </div>
                            <div class="col">
                                <input type="text" id="editConceptName" name="editConceptName">
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col-4 ms-4 ps-4 modal-label">
                                ID Certainty:
                            </div>
                            <div class="col">
                                <input type="text" id="editIdCert" name="editIdCert">
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col-4 ms-4 ps-4 modal-label">
                                ID Reference:
                            </div>
                            <div class="col">
                                <input type="text" id="editIdRef" name="editIdRef">
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col-4 ms-4 ps-4 modal-label">
                                Upon:
                            </div>
                            <div class="col">
                                <input type="text" id="editUpon" name="editUpon">
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col-4 ms-4 ps-4 modal-label">
                                Comments:
                            </div>
                            <div class="col">
                                <input type="text" id="editComments" name="editComments">
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col-4 ms-4 ps-4 modal-label">
                                Guide Photo:
                            </div>
                            <div class="col">
                                <select name="editGuidePhoto" id="editGuidePhoto"></select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <input type="hidden" name="sequenceName" value="{{ data.annotations[0].video_sequence_name }}">
                        <input type="hidden" id="observationUuid" name="observation_uuid">
                        <input type="submit" class="btn btn-success py-2" value="Save Changes">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>
    <script src="/static/js/autocomplete.js"></script>
    <script>
        const paginationNumbers = document.getElementById('pagination-numbers');
        const nextButton = document.getElementById('next-button');
        const prevButton = document.getElementById('prev-button');
        const guidePhotoVals = ['1 best', '2 good', '3 okay', ''];
        const None = null;
        const annotations = {{ data.annotations }};

        const paginationLimit = 25;
        const pageCount = Math.ceil(annotations.length / paginationLimit);
        let currentPage;

        const appendPageNumber = (index) => {
            const pageNumber = document.createElement('button');
            pageNumber.className = 'pagination-number';
            pageNumber.innerHTML = index;
            pageNumber.setAttribute('page-index', index);
            pageNumber.setAttribute('aria-label', 'Page ' + index);
            paginationNumbers.appendChild(pageNumber);
        };

        const getPaginationNumbers = () => {
            for (let i = 1; i <= pageCount; i++) {
                appendPageNumber(i);
            }
        };

        const handleActivePageNumber = () => {
            document.querySelectorAll('.pagination-number').forEach((button) => {
                button.classList.remove('active');

                const pageIndex = Number(button.getAttribute('page-index'));
                if (pageIndex === currentPage) {
                    button.classList.add('active');
                }
            });
        };

        const setCurrentPage = (pageNum) => {
            const prevRange = (pageNum - 1) * paginationLimit;
            const currRange = pageNum * paginationLimit;

            sessionStorage.setItem(`scrollPos${currentPage}`, window.scrollY);

            currentPage = pageNum;
            location.hash = "#pg=" + pageNum;

            if (sessionStorage.getItem(`scrollPos${currentPage}`)) {
                window.scrollTo({top: sessionStorage.getItem(`scrollPos${currentPage}`), left: 0, behavior: 'instant'});
            } else {
               window.scrollTo({top: 0, left: 0, behavior: 'instant'});
            }

            handleActivePageNumber();
            handlePageButtonsStatus();

            $('#annotationTable tbody').remove();
            $('#annotationTable').append('<tbody class="text-start"></tbody>');

            annotations.forEach((annotation, index) => {
                if (index >= prevRange && index < currRange) {
                    $('#annotationTable').find('tbody').append(`
                    <tr>
                        <td class="ps-5">
                            <div class="row">
                                <div class="col">
                                    Concept:
                                </div>
                                <div class="col values">
                                    ${annotation.concept}<br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    ID Certainty:<br>
                                </div>
                                <div class="col values">
                                    ${annotation.identity_certainty ? annotation.identity_certainty : '-'}<br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    ID Reference:<br>
                                </div>
                                <div class="col values">
                                    ${annotation.identity_reference ? annotation.identity_reference : '-'}<br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    Upon:<br>
                                </div>
                                <div class="col values">
                                    ${annotation.upon ? annotation.upon : '-'}<br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    Comments:<br>
                                </div>
                                <div class="col values">
                                    ${annotation.comment ? annotation.comment : '-'}<br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    Guide Photo:<br>
                                </div>
                                <div class="col values">
                                    ${annotation.guide_photo ? annotation.guide_photo : '-'}<br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    Timestamp:
                                </div>
                                <div class="col values">
                                    ${annotation.recorded_timestamp}<br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    Video Sequence:
                                </div>
                                <div class="col values">
                                    ${annotation.video_sequence_name}<br>
                                </div>
                            </div>
                            <button type="button" data-bs-toggle="modal" data-anno='${ JSON.stringify(annotation) }' data-bs-target="#editModal" class="editButton mt-2">Edit</button>
                        </td>
                        <td class="text-center">
                            <a href="${annotation.image_url}" target="_blank">
                                <img src="${annotation.image_url}" style="width: 500px;"/>
                            </a>
                        </td>
                    </tr>
                    `);
                }
            });
        };

        const disableButton = (button) => {
            button.classList.add('disabled');
            button.setAttribute('disabled', true);
        };

        const enableButton = (button) => {
            button.classList.remove('disabled');
            button.removeAttribute('disabled');
        };

        const handlePageButtonsStatus = () => {
            if (currentPage === 1) {
                disableButton(prevButton);
            } else {
                enableButton(prevButton);
            }
            if (pageCount === currentPage) {
                disableButton(nextButton);
            } else {
                enableButton(nextButton);
            }
        };

        autocomplete(document.getElementById('editConceptName'), {{ data.concepts }});
        autocomplete(document.getElementById('editUpon'), {{ data.concepts }});

        // load scroll position
        document.addEventListener('DOMContentLoaded', function(event) {
            if (sessionStorage.getItem(`scrollPos${currentPage}`)) {
                window.scrollTo({top: sessionStorage.getItem(`scrollPos${currentPage}`), left: 0, behavior: 'instant'});
            }

            getPaginationNumbers();
            setCurrentPage(1);

            prevButton.addEventListener("click", () => {
                setCurrentPage(currentPage - 1);
            });

            nextButton.addEventListener("click", () => {
                setCurrentPage(currentPage + 1);
            });

            document.querySelectorAll('.pagination-number').forEach((button) => {
                const pageIndex = Number(button.getAttribute('page-index'));
                if (pageIndex) {
                    button.addEventListener('click', () => {
                        setCurrentPage(pageIndex);
                    });
                }
            });

            $('#annotationCount').html(annotations.length);
        });

        window.onbeforeunload = function(e) {
            sessionStorage.setItem(`scrollPos${currentPage}`, window.scrollY);
        };

        window.onhashchange = () => {
            const hashNum = Number(location.hash.substring(4));
            if (currentPage !== hashNum) {
                setCurrentPage(hashNum);
            }
        }

        // get the annotation data and add it to the modal
        $(document).ready(function () {
            $('#editModal').on('show.bs.modal', function (e) {
                const annotation = $(e.relatedTarget).data('anno');
                $(this).find('#editConceptName').val(annotation.concept);
                $(this).find('#editIdCert').val(annotation.identity_certainty);
                $(this).find('#editIdRef').val(annotation.identity_reference);
                $(this).find('#editUpon').val(annotation.upon);
                $(this).find('#editComments').val(annotation.comment);
                $(this).find('#observationUuid').val(annotation.observation_uuid);

                document.getElementById("editGuidePhoto").options.length = 0; // clear options
                const guidePhotoSelect = $(this).find('#editGuidePhoto');
                for (val of guidePhotoVals) { // append options back on with matching option selected
                    const opt = $('<option/>', { value: val })
                        .text(val)
                        .prop('selected', annotation.guide_photo === val || val === '' && !annotation.guide_photo);
                    opt.appendTo(guidePhotoSelect);
                }
            });
        });
    </script>
</body>
</html>