<!doctype html>
<html lang="en">
<head>
    <title>Image Review</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body id="index" class="text-center my-3 mx-5">
    <img src="/static/img/logo_darc.png" width="30%" style="max-width: 300px; min-width: 200px"/>
    <h1 class="my-2">DARC Image Review</h1>
    <form method="post" action="/view_images">
        <label for="sequenceName">Enter a Sequence Name:</label><br>
        <input type="text" id="sequenceName" name="sequenceName" placeholder="Hercules 1011715">
        <br>
        <input type="submit" id="goButton" value="Go" class="btn btn-success py-1 px-5 mt-3">
    </form>

    <script src="/static/js/bootstrap.bundle.js"></script>
</body>
</html>

<!-- list of all concepts in VARS http://hurlstor.soest.hawaii.edu:8083/kb/v1/concept -->
<!-- list of all video sequences on HURLSTOR http://hurlstor.soest.hawaii.edu:8084/vam/v1/videosequences/names -->