<!doctype html>
<html lang="en">
<head>
    <title>DARC Image Review | {{ data.annotations[0].video_sequence_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body class="text-center my-3 mx-5">
    <h1>Image Review</h1>
    <div class="col d-flex justify-content-center mt-3">
         <table class="table table-striped">
            <thead class="thead-dark" style="background-color: #393E46; color: #EEEEEE">
                <tr>
                    <th scope="col">Info</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
            <tbody class="text-start">
                {% for annotation in data.annotations %}
                <tr>
                    <td class="ps-5">
                        <div class="row">
                            <div class="col">
                                Concept:
                            </div>
                            <div class="col values">
                                {{ annotation.concept }}<br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                ID Certainty:<br>
                            </div>
                            <div class="col values">
                                {{ annotation.identity_certainty if annotation.identity_certainty else '-' }}<br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                ID Reference:<br>
                            </div>
                            <div class="col values">
                                {{ annotation.identity_reference if annotation.identity_reference else '-' }}<br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Upon:<br>
                            </div>
                            <div class="col values">
                                {{ annotation.upon if annotation.upon else '-' }}<br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Comments:<br>
                            </div>
                            <div class="col values">
                                {{ annotation.comment if annotation.comment else '-' }}<br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Guide Photo:<br>
                            </div>
                            <div class="col values">
                                {{ annotation.guide_photo if annotation.guide_photo else '-' }}<br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Timestamp:
                            </div>
                            <div class="col values">
                                {{ annotation.recorded_timestamp }}<br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Video Sequence:
                            </div>
                            <div class="col values">
                                {{ annotation.video_sequence_name }}<br>
                            </div>
                        </div>
                        <button type="button" data-bs-toggle="modal" data-id='{{ annotation | tojson }}' data-bs-target="#editModal" class="editButton mt-2">Edit</button>
                    </td>
                    <td class="text-center">
                        <a href="{{ annotation.image_url }}" target="_blank">
                            <img src="{{ annotation.image_url }}" style="width: 500px;"/>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <form action="/update_annotation" method="post" autocomplete="off">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h5 class="modal-title mt-1 ms-4" style="font-weight: 600;">Edit Annotation</h5>
                        <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-start">
                        <div class="row pb-2">
                            <div class="col-4 ms-4 ps-4 modal-label">
                                Concept:
                            </div>
                            <div class="col">
                                <input type="text" id="editConceptName" name="editConceptName">
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col-4 ms-4 ps-4 modal-label">
                                ID Certainty:
                            </div>
                            <div class="col">
                                <input type="text" id="editIdCert" name="editIdCert">
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col-4 ms-4 ps-4 modal-label">
                                ID Reference:
                            </div>
                            <div class="col">
                                <input type="text" id="editIdRef" name="editIdRef">
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col-4 ms-4 ps-4 modal-label">
                                Upon:
                            </div>
                            <div class="col">
                                <input type="text" id="editUpon" name="editUpon">
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col-4 ms-4 ps-4 modal-label">
                                Comments:
                            </div>
                            <div class="col">
                                <input type="text" id="editComments" name="editComments">
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col-4 ms-4 ps-4 modal-label">
                                Guide Photo:
                            </div>
                            <div class="col">
                                <select name="editGuidePhoto" id="editGuidePhoto"></select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <input type="hidden" name="sequenceName" value="{{ data.annotations[0].video_sequence_name }}">
                        <input type="hidden" id="observationUuid" name="observation_uuid">
                        <input type="submit" class="btn btn-success" value="Save Changes">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>
    <script src="/static/js/autocomplete.js"></script>
    <script>
        autocomplete(document.getElementById('editConceptName'), {{ data.concepts }});

        const guidePhotoVals = ['1 best', '2 good', '3 okay', ''];
        // get the annotation data and add it to the modal
        $(document).ready(function () {
            $('#editModal').on('show.bs.modal', function (e) {
                const annotation = $(e.relatedTarget).data('id')
                $(this).find('#editConceptName').val(annotation.concept);
                $(this).find('#editIdCert').val(annotation.identity_certainty);
                $(this).find('#editIdRef').val(annotation.identity_reference);
                $(this).find('#editUpon').val(annotation.upon);
                $(this).find('#editComments').val(annotation.comment);
                $(this).find('#observationUuid').val(annotation.observation_uuid);

                document.getElementById("editGuidePhoto").options.length = 0; // clear options
                const guidePhotoSelect = $(this).find('#editGuidePhoto');
                for (val of guidePhotoVals) { // append options back on with matching option selected
                    const opt = $('<option/>', { value: val })
                        .text(val)
                        .prop('selected', annotation.guide_photo === val || val === '' && !annotation.guide_photo);
                    opt.appendTo(guidePhotoSelect);
                }
            });
        });
    </script>
</body>
</html>