<!doctype html>
<html lang="en">
<head>
    <title>Image Review</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body class="text-center my-3 mx-5">
    <h1>Image Review</h1>
    <div class="col d-flex justify-content-center">
         <table class="table table-striped">
            <thead class="thead-dark" style="background-color: #393E46; color: #EEEEEE">
                <tr>
                    <th scope="col">Info</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
            <tbody class="text-start">
                {% for annotation in data %}
                <tr>
                    <td class="ps-5">
                        <div class="row">
                            <div class="col">
                                Concept:
                            </div>
                            <div class="col values">
                                {{ annotation.concept }}<br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                ID Certainty:<br>
                            </div>
                            <div class="col values">
                                {{ annotation.identity_certainty if annotation.identity_certainty else '-' }}<br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                ID Reference:<br>
                            </div>
                            <div class="col values">
                                {{ annotation.identity_reference if annotation.identity_reference else '-' }}<br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Upon:<br>
                            </div>
                            <div class="col values">
                                {{ annotation.upon if annotation.upon else '-' }}<br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Comments:<br>
                            </div>
                            <div class="col values">
                                {{ annotation.comment if annotation.comment else '-' }}<br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Timestamp:
                            </div>
                            <div class="col values">
                                {{ annotation.recorded_timestamp }}<br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Video Sequence:
                            </div>
                            <div class="col values">
                                {{ annotation.video_sequence_name }}<br>
                            </div>
                        </div>
                        <button type="button" data-bs-toggle="modal" data-id='{{ annotation | tojson }}' data-bs-target="#editModal" class="editButton mt-2">Edit</button>
                    </td>
                    <td class="text-center">
                        <a href="{{ annotation.image_url }}" target="_blank">
                            <img src="{{ annotation.image_url }}" style="width: 500px;"/>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Annotation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            Concept:
                        </div>
                        <div class="col">
                            cons
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            ID Certainty:
                        </div>
                        <div class="col">
                            cons
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            ID Reference:
                        </div>
                        <div class="col">
                            cons
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Upon:
                        </div>
                        <div class="col">
                            cons
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Comments:
                        </div>
                        <div class="col">
                            cons
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form action="/delivery/cancel" method="post">
                        <input type="hidden" id="cancelId" name="cancelId">
                        <button class="btn btn-danger" type="submit">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>
    <script>
      // get the annotation data and add it to the modal
      $(document).ready(function () {
        $('#editModal').on('show.bs.modal', function (e) {
          $(this).find('#cancelId').val($(e.relatedTarget).data('id'));
        });
      });
    </script>
</body>
</html>