{% extends "base.html" %}
{% block title %}DARC QA/QC{% endblock title %}
{% block content %}
    {% include 'components/loading.html' %}
    {% include 'components/back-to-checklist-button.html' %}
    <div class="text-center my-3 mx-5">
        {% include 'components/flash-container.html' %}
        <div class="col mt-3 m-auto" style="max-width: 1200px;">
            <div class="row m-auto">
                <div class="col-9 text-start">
                    <h4 class="m-0 p-0 pb-2" style="font-weight: 600;">Unique Taxa</h4>
                    <div><span id="deploymentList"></span></div>
                    <div class="small mt-2">
                        Highlights taxa that have a box occur before the first dot or do not have both a box and a dot
                    </div>
                </div>
                <div class="col text-end mt-auto small">
                    <span>Unique Taxa:&nbsp;&nbsp<span id="uniqueTaxaCount" style="font-weight: 600;"></span></span><br>
                </div>
            </div>
        </div>
        <div id="404" style="display: none;" class="my-5">
            <h3>No records found<br></h3>
        </div>
        <div class="col d-flex justify-content-center mt-3">
            <table id="annotationTable" class="table table-striped">
                <thead class="text-start">
                    <tr>
                        <th scope="col">Scientific Name</th>
                        <th scope="col">Max N</th>
                        <th scope="col">First Dot (TOFA)</th>
                        <th scope="col">First Box</th>
                        <th scope="col">Num Dots</th>
                        <th scope="col">Num Boxes</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <script src="/static/modules/jquery/jquery.min.js"></script>
    <script src="/static/modules/bootstrap/bootstrap.bundle.js"></script>
    <script>
        const None = null;
        const nan = null;
        const True = true;
        const False = false;
        const uniqueTaxa = {{ data.unique_taxa|safe }};
    </script>
    <script type="module" src="/static/js/qaqc/tator/qaqc-unique-taxa.js"></script>
{% endblock content %}
