{% extends "base.html" %}
{% block title %}DARC QA/QC{% endblock title %}
{% block content %}
    {% include 'components/loading-fish.html' %}
    <div id="fireworks" class="pyro" style="display: none;">
        <div class="before"></div>
        <div class="after"></div>
    </div>
    {% include 'components/back-to-home-button.html' %}
    <div class="text-center my-3 mx-5">
        {% include 'components/flash-container.html' %}
        <div class="col mt-4 m-auto" style="max-width: 800px;">
            <div class="row m-auto mb-3">
                <div class="col-9 text-start">
                    <h3 class="m-0 p-0" style="font-weight: 600;">{{ data.title }}</h3>
                    <div id="deploymentList" class="mb-2"></div>
                    <div style="font-weight: 600;">QA/QC Checklist</div>
                </div>
                <div class="col text-end mt-auto small">
                    <span>Total Localizations:&nbsp;&nbsp<span id="localizationCount" style="font-weight: 600;"></span></span><br>
                    <span>Total Individuals:&nbsp;&nbsp<span id="individualCount" style="font-weight: 600;"></span></span><br>
                    <span>Checks Complete: &nbsp<span style="font-weight: 600;"><span id="tasksComplete">0</span> / <span>8</span></span></span>
                </div>
            </div>
        </div>
        <div id="404" style="display: none;" class="my-5">
            <h3>No records found for given dive<br></h3>
        </div>
        <div class="m-auto" style="max-width: 800px;">
            <div>
                <table id="checklistTable" class="table text-start">
                    <tbody style="border-top: solid 2px var(--darc-border);">
                        <tr>
                            <td><a id="namesAcceptedAnchor" class="aquaLink">All scientific names and tentative IDs are accepted in WoRMS</a></td>
                            <td id="namesAcceptedCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="missingQualifierAnchor" class="aquaLink">All records classified higher than species have a qualifier</a></td>
                            <td id="missingQualifierCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="stetReasonAnchor" class="aquaLink">All records with a qualifier of 'stet' have a 'reason'</a></td>
                            <td id="stetReasonCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="attractedAnchor" class="aquaLink">All attracted/not attracted match expected taxa list</a></td>
                            <td id="attractedCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="tentativeIdAnchor" class="aquaLink">Review all records with a tentative ID</a></td>
                            <td id="tentativeIdCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="notesRemarksAnchor" class="aquaLink">Review all records with notes and/or remarks</a></td>
                            <td id="notesRemarksCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="uniqueTaxaAnchor" class="aquaLink">Review all unique taxa (TOFA, max N, box/dot checks)</a></td>
                            <td id="uniqueTaxaCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                        <tr>
                            <td><a id="mediaAttributesAnchor" class="aquaLink">Review media attributes (FOV, quality, substrate)</a></td>
                            <td id="mediaAttributesCheckbox" class="qaqcCheckbox"></td>
                        </tr>
                    </tbody>
                </table>
                <a class="aquaLink">View/Download Summary Table (not yet implemented)</a>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="/static/css/fireworks.css" />
    <script src="/static/modules/jquery/jquery.min.js"></script>
    <script src="/static/modules/bootstrap/bootstrap.bundle.js"></script>
    <script>
        const localizationCount = {{ data.localization_count }};
        const individualCount = {{ data.individual_count }};
    </script>
    <script type="module" src="/static/js/qaqc/tator/qaqc-checklist.js"></script>
{% endblock content %}
