<div id="flash-messages-container">
    {% for cat, msg in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ cat }} alert-dismissible px-5" style="position:fixed; left: 50%; transform: translate(-50%, 0); z-index: 50;">
            <span class="px-2" style="font-weight: 500;">{{ msg }}</span>
            <button type="button" class="btn-close small" data-bs-dismiss="alert" aria-label="Close"></button>
            <div class="alert-bottom-bar alert-bottom-bar-{{ cat }}"></div>
        </div>
    {% endfor %}
</div>
